@{
    ViewData["Title"] = "Aurelia Navigation Skeleton";
}

  <div aurelia-app="main">
  </div>

<script type="text/javascript" src="/dist/runtime~app.ac0f9cc9428f4cf96e24.bundle.js"></script><script type="text/javascript" src="/dist/vendors~0ba1d959.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/vendors~556c66f2.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/vendors~72fdf3f2.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/vendors~50e8d500.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/vendors~5ea1390f.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/vendors~ecff2e3d.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/vendors~02227409.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/vendors~7274e1de.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/vendors~ec8c427e.ac0f9cc9428f4cf96e24.chunk.js"></script><script type="text/javascript" src="/dist/app~d0ae3f07.ac0f9cc9428f4cf96e24.chunk.js"></script>