@{
    ViewData["Title"] = "Aurelia Navigation Skeleton";
}

  <div aurelia-app="main">
  </div>

<script type="text/javascript" src="/dist/runtime~app.c1018e2f643e6563a44b.bundle.js"></script><script type="text/javascript" src="/dist/vendors~253ae210.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~556c66f2.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~72fdf3f2.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~50e8d500.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~5ea1390f.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~ecff2e3d.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~02227409.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~01be3b92.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~d939e436.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~41983590.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/vendors~678f84af.c1018e2f643e6563a44b.chunk.js"></script><script type="text/javascript" src="/dist/app~d0ae3f07.c1018e2f643e6563a44b.chunk.js"></script>